.wrapper {
    border: 1px solid transparent;
    border-radius: 2px;
    height: 36px;
    min-width: 110px;
    padding: 0 16px;
    font-size: 1.6rem;
    font-weight: 600;
    cursor: pointer;
    background-color: var(--white);
    margin-right: 6px;
}
.primary {
    background-color: var(--primary);
    color: var(--white);
    &:hover {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #fe2c55;
    }
}

.outline {
    color: var(--primary);
    border-color: currentColor;

    &:hover {
        background-color: rgba(254, 44, 85, 0.06);
    }
}
.medium {
    border-color: rgba(22, 24, 35, 0.12);
    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}
.rounded {
    border-radius: 999px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
    border-color: rgba(22, 24, 35, 0.12);

    &:hover {
        border-color: rgba(22, 24, 35, 0.2);
        background-color: rgba(22, 24, 35, 0.03);
    }
}
// button has icon
.left-icon {
    padding-right: 14px;
    text-align: center;
}

// button size
.small {
    min-width: 88px;
    padding: 4px 16px;
}

.large {
    padding: 14px 16px;
    min-width: 140px;
}
