.wrapper {
    --search-border-radius: 92px;
    --search-height: 46px;
    --top-spacer: 8px;
    --search-button-width-right: 52px;

    height: var(--default-layout-header-hight, 60px);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
    width: 100%;
}

.inner {
    height: 100%;
    width: var(--default-layout-content-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--default-layout-h-spacer);
}

.logo {
    display: flex;
    cursor: pointer;
}

//actions
.actions {
    display: flex;
    height: 100%;
    align-items: center;
}
.up-load-btn {
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}
.plus-icon {
    margin-right: 8px;
    font-size: 1.6rem;
}
.up-load-text {
    font-size: 1.6rem;
    font-weight: 600;
    color: #161823;
    text-align: center;
}
.sign-in-btn {
    border-radius: 4px;
    margin-left: 16px;
}
.more-btn {
    cursor: pointer;
    font-size: 2rem;
    margin-left: 16px;
    padding: 0 4px;
    color: rgba(22, 24, 35, 1);
    height: 100%;
    background-color: transparent;
}

.avatar-user {
    border-radius: 50%;
    object-fit: cover;
    width: 3.2rem;
    height: 3.2rem;
    margin-left: 12px;
    cursor: pointer;
}

.actions-icon-login {
    //font-size: 2.2rem;
    background-color: transparent;
    color: #161823;
    padding: 4px 10px;
    cursor: pointer;
    text-align: center;
}
