.wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.header {
    width: 100%;
    justify-content: center;
}
.container {
    max-width: 100%;
    display: flex;
    width: var(--default-layout-content-width);
    min-height: var(--default-layout-min-hight);
    align-items: center;
    margin-top: var(--default-layout-header-hight);
}
.main-content {
    display: flex;
    width: var(--default-layout-content-width);
    min-height: var(--default-layout-min-hight);
    justify-content: center;
    align-items: center;
}
.content {
    flex: 1;
    min-height: var(--default-layout-min-hight);
    margin-left: var(--default-layout-sidebar-width);
    z-index: 1;
    padding-left: 16px;
    padding: 45px 0;
}

.transform {
    transform: scaleY(20px);
}

.btn-bottom-container {
    position: absolute;
    right: 0;
    bottom: 0;
}
