.wrapper {
    --search-border-radius: 92px;
    --search-height: 46px;
    --top-spacer: 8px;
    --search-button-width-right: 52px;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    width: 100%;
    height: var(--default-layout-header-hight, 60px);
    background-color: var(--white);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
}

.inner {
    height: 100%;
    width: var(--default-layout-content-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--default-layout-h-spacer);
}
.short {
    width: var(--default-layout-content-width);
}
.long {
    width: 100%;
}
.logo {
    display: flex;
    cursor: pointer;
}

//actions
.actions {
    display: flex;
    height: 100%;
    align-items: center;
}

.sign-in-btn {
    border-radius: 4px;
    margin-left: 16px;
}
.more-btn {
    cursor: pointer;
    margin-left: 16px;
    padding: 0 4px;
    color: rgba(22, 24, 35, 1);
    background-color: transparent;
    line-height: 50%;
}

.avatar-user {
    border-radius: 50%;
    object-fit: cover;
    width: 3.2rem;
    height: 3.2rem;
    margin-left: 12px;
    cursor: pointer;
}

.actions-icon-login {
    background-color: transparent;
    color: #161823;
    padding: 6px 6px 0;
    min-width: auto;
    cursor: pointer;
    text-align: center;
    margin-left: 12px;
    margin-right: 0;
    border: none;
}
