.wrapper {
    width: var(--default-layout-sidebar-width);
    //min-height: var(--default-layout-min-hight);
    padding: 20px 0 26px 8px;
    display: inline-block;
    position: fixed;
    top: 60px;
    bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 2;
    &::-webkit-scrollbar {
        width: 0;
        height: 0;
    }
    &:hover .scroll-bar {
        opacity: 1;
        transition: all 0.2s ease-in-out;
    }
}

.content {
    width: 100%;
    position: relative;
}

.discover-menu {
    padding-top: 8px;
}
.scroll-bar {
    position: absolute;
    top: 0;
    right: 0;
    height: 131.858px;
    opacity: 0;
    transform-origin: right top;
    transition: opacity 0.5s;

    // transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, -1) scale(3.03428) translateZ(-2.03428px)
    //     translateZ(-2px);
}

.scroll-shape {
    width: 6px;
    height: 100%;
    border-radius: 3px;
    background: rgba(22, 24, 35, 0.06);
}
